<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.olikon.vpnfriend</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>097DCA99-8A75-4BCB-8A01-A447B917E654</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E58EE35-A306-43D3-A6A3-50E118342F78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>097DCA99-8A75-4BCB-8A01-A447B917E654</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1689AE19-3FD7-4CC9-A4DE-00ADE66F130E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A51C24B-2F11-4B89-9E7A-62252D31FA32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C09A36C7-EE48-4561-A021-3450B310C0BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25ADB558-9727-4799-9115-4E3BBFFE3C53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E24C5468-B2DA-45CC-9DA8-8F2E8BF6D775</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A780064-0C2F-43D6-AE9D-6701CAA62DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1750903-5590-47BD-8954-2AE286AE9A54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</key>
		<array/>
		<key>52802742-40DB-4BDD-B797-548D55A9370C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1689AE19-3FD7-4CC9-A4DE-00ADE66F130E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>596E7AF3-6470-474A-95DF-9601182DF689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEC91346-E438-4DD0-8142-8855BF16E043</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C09A36C7-EE48-4561-A021-3450B310C0BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1750903-5590-47BD-8954-2AE286AE9A54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E24C5468-B2DA-45CC-9DA8-8F2E8BF6D775</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Oli Kondrashov</string>
	<key>description</key>
	<string>Connect to VPN via Alfread</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPNFriend</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FEC91346-E438-4DD0-8142-8855BF16E043</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.vpn-key</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait..</string>
				<key>script</key>
				<string>python anyconnect.py --generate-key</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Used together with PIN as credentials to connect Cisco AnyConnect client</string>
				<key>title</key>
				<string>Generate 6-digit token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>596E7AF3-6470-474A-95DF-9601182DF689</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.vpn-user</string>
				<key>subtext</key>
				<string>Provide Cisco AnyConnect username</string>
				<key>text</key>
				<string>Configure user</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>52802742-40DB-4BDD-B797-548D55A9370C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--set-username {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1689AE19-3FD7-4CC9-A4DE-00ADE66F130E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.vpn-pin</string>
				<key>subtext</key>
				<string>Provide Cisco AnyConnect PIN</string>
				<key>text</key>
				<string>Configure PIN</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0E58EE35-A306-43D3-A6A3-50E118342F78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--set-pin {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>097DCA99-8A75-4BCB-8A01-A447B917E654</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python anyconnect.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.vpn-domain</string>
				<key>subtext</key>
				<string>Provide Cisco AnyConnect domain</string>
				<key>text</key>
				<string>Configure domain</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A51C24B-2F11-4B89-9E7A-62252D31FA32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--set-domain {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C09A36C7-EE48-4561-A021-3450B310C0BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.vpn-connect</string>
				<key>subtext</key>
				<string>Connect Cisco AnyConnect</string>
				<key>text</key>
				<string>Connect to VPN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25ADB558-9727-4799-9115-4E3BBFFE3C53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--connect</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E24C5468-B2DA-45CC-9DA8-8F2E8BF6D775</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.vpn-disconnect</string>
				<key>subtext</key>
				<string>Disconnect Cisco AnyConnect</string>
				<key>text</key>
				<string>Disconnect from VPN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A780064-0C2F-43D6-AE9D-6701CAA62DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--disconnect</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D1750903-5590-47BD-8954-2AE286AE9A54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>097DCA99-8A75-4BCB-8A01-A447B917E654</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>0E58EE35-A306-43D3-A6A3-50E118342F78</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>1689AE19-3FD7-4CC9-A4DE-00ADE66F130E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>1A51C24B-2F11-4B89-9E7A-62252D31FA32</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>25ADB558-9727-4799-9115-4E3BBFFE3C53</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>4A780064-0C2F-43D6-AE9D-6701CAA62DCD</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>4F49DF5E-5C8D-412E-9F55-70C1ED709AEE</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>52802742-40DB-4BDD-B797-548D55A9370C</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>596E7AF3-6470-474A-95DF-9601182DF689</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C09A36C7-EE48-4561-A021-3450B310C0BD</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>D1750903-5590-47BD-8954-2AE286AE9A54</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>E24C5468-B2DA-45CC-9DA8-8F2E8BF6D775</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>FEC91346-E438-4DD0-8142-8855BF16E043</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
